<h3>Obdelnik2</h3>

<PageTitle>Obdelník</PageTitle>

<h1>Obdelník</h1>

<label>
    Zadej stranu A:
    <input type="number" @bind-value="obdelnik.StranaA" />
</label>
<br />
<label>
    Zadej stranu B:
    <input type="number" @bind-value="obdelnik.StranaB" />
</label>
<br />
<br />

<label>
    Obvod:
    <input type="number" value="@obdelnik.Obvod" readonly />
</label>
<br />

<label>
    Obsah:
    <input type="number" value="@obdelnik.Obsah" readonly />
</label>
<br />
<label>
    Uhlopricka:
    <input value="@obdelnik.Uhlopricka" readonly />
</label>
<br />

@code {
    private Model.Obdelnik2 obdelnik = new Model.Obdelnik2();
}

